
<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{{config.userName}}}'s Dairy</title>
	<script src="https://cdn.ckeditor.com/ckeditor5/11.1.0/inline/ckeditor.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
    	<div id="all_entries"><a href="{{config.baseURL}}/journal/{{config.dairyName}}">Index</a></div>
    	<div id="clear_fix"></div>
        <div>{{{config.userName}}}'s Dairy.</div>
        <div id="info" contenteditable="true">{{getTime}}</div>
	</header>
  {{{content}}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		var Config = {
			userName:  "{{{config.userName}}}",
			dairyName: "{{{config.dairyName}}}",
			server: {
				baseURL: "{{{config.baseURL}}}"
			}
		}
		// var dropcap = document.getElementById("dropcap");
		// window.Dropcap.layout(dropcap, 2);
	</script>
    <script src="/dairy.js"></script>
</body>
</html>