body {
    margin: 0px;
    border-top: 5px solid #43A047;
    font-size: medium;
}

#headerBar {
    font-family: "Josefin Sans", "Raleway", sans-serif;
    font-weight: 300;
    font-variant: small-caps;
    font-size: 300%;
    text-align: center;
    padding: 25px;
}

#info {
    padding: 5px;
    font-size: 40%;
    font-family: "Merriweather", serif;
    color: gray;
    font-weight: 300;
}

#dairyContent {
    font-size: 120%;
    font-family: "Raleway", sans-serif;
    color: rgb(100, 100, 100);
    font-weight: 400;
    width: 66%;
    line-height: 160%;
    margin-left: auto;
    margin-right: auto;
}

#Title {
    font-size: 120%;
    color: rgb(100, 100, 100);
    font-weight: 400;
    width: 66%;
    line-height: 160%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    /* color: #43A047; */
}

.dropcaps {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    padding-right: 10px;
    float: left;
    font-size: 4.0em;
    line-height: 0.87em;
    margin-right: 0.05em;
    color: #43A047;
    text-align: justify;
}

p a {
    color: black;
    border-bottom: 1px dotted black;
    text-decoration: none;
}